---
import Heading from "./atoms/Heading.astro";
import Paragraph from "./atoms/Paragraph.astro";
import FlexContainer from "./layout/FlexContainer.astro";

const plans = [
  {
    name: "Lump Sum",
    pricePre: "starting at",
    price: "$2000",
    priceAddendum: "+ $25/mo Hosting",
    features: [
      { text: "Design And Development", negative: false },
      { text: "$25/mo Hosting", negative: false },
      { text: "$250 to Add a Blog", negative: false },
      { text: "$50/month optional Unlimited Edits upgrade", negative: false },
      { text: "$99/month optional SEO research & maintanance upgrade", negative: false },
      { text: "24/7 Support", negative: true },
      { text: "Lifetime Updates", negative: true },
    ],
    highlight: false,
    cta: "Get Started",
  },
  {
    name: "Monthly",
    price: "$199",
    priceAddendum: "Per Month",
    features: [
      { text: "Design And Development", negative: false },
      { text: "Includes hosting", negative: false },
      { text: "$199 (one-time) Fee for Page After 5", negative: false },
      { text: "Unlimited Edits", negative: false },
      { text: "24/7 Support", negative: false },
      { text: "Lifetime Updates", negative: false },
      { text: "$99/month optional SEO research & maintanance upgrade", negative: false },
    ],
    highlight: true,
    cta: "Get Started",
  },
  {
    name: "ECOMMERCE",
    pricePre: "starting at",
    price: "$5k ",
    features: [
      { text: "Custom Shopify Store", negative: false },
      { text: "Manage Any API / Apps", negative: false },
      { text: "Integrated Shipping", negative: false },
      { text: "Optional Tutorial Walkthrough", negative: false },
      { text: "Unlimited Edits", negative: false },
      { text: "24/7 Support package available", negative: false },
      { text: "Lifetime Updates package available", negative: false },
    ],
    highlight: false,
    cta: "Get Started",
  },
  {
    name: "API / WEB APPLICATIONS",
    price: "Custom Pricing",
    features: [
      { text: "Booking Systems (reservations, appointments)", negative: false },
      { text: "Payment Gateway Integrations", negative: false },
      { text: "CRM Solutions", negative: false },
      { text: "Custom API Integrations", negative: false },
      { text: "Third-Party Integrations", negative: false },
      { text: "Scalable Architecture", negative: false },
      { text: "Maintenance & Support", negative: false },
      { text: "24/7 Technical Assistance", negative: false },
    ],
    highlight: true,
    cta: "Get Started",
  },
];
---

<section class="max-w-[1400px] @3xl:max-w-[1700px] mx-auto mt-32 mb-32 px-4 flex flex-col">
  <!-- Section Heading -->
  <header class="mb-8 text-center">
    <Paragraph class="font-semibold uppercase tracking-widest">
      Our Pricing
    </Paragraph>
    <Heading level={2} class="sm:text-4xl mx-1">
      Pricing Packages For Every Budget
    </Heading>
  </header>

  <FlexContainer col>
    <div class="grid gap-10 lg:grid-cols-3 xl:grid-cols-4">
      {
        plans.map((plan) => {
          const isHighlight = plan.highlight
            ? "bg-primary hover:bg-primary-hover text-white"
            : "bg-gray-50 hover:bg-gray-200 text-gray-800";
          return (
            <div
              class={`w-80 md:w-64 lg:w-72 2xl:w-80 @3xl:w-96 flex flex-col rounded-lg p-6 shadow transition hover:shadow-lg ${isHighlight}`}
            >
              {/* Plan Title */}
              <h3 class="mb-2 text-2xl font-semibold">{plan.name}</h3>

              {/* Feature List */}
              <ul class="mb-9 flex-1 space-y-2">
                {plan.features.map((feature) => {
                  const iconClass = feature.negative
                    ? "text-red-500"
                    : "text-primaryLight";
                  const iconPath = feature.negative
                    ? "M6 18L18 6M6 6l12 12" // Cross icon
                    : "M5 13l4 4L19 7"; // Check icon

                  return (
                    <li class="flex items-center">
                      {/* Conditionally show check or cross icon */}
                      <svg
                        class={`mr-2 h-5 w-5 ${iconClass}`}
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                      >
                        <path d={iconPath} />
                      </svg>
                      {/* If negative, apply a strikethrough style */}
                      <span
                        class={
                          feature.negative
                            ? "line-through text-gray-500"
                            : "text-inherit"
                        }
                      >
                        {feature.text}
                      </span>
                    </li>
                  );
                })}
              </ul>

              {/* Price */}
              <FlexContainer row class="my-8">
                <FlexContainer col>
                  <p class="text-sm whitespace-nowrap">{plan.pricePre}</p>

                  <h3 class="text-4xl font-bold text-center">{plan.price}</h3>
                  <p class="text-sm">{plan.priceAddendum}</p>
                </FlexContainer>
              </FlexContainer>

              {/* CTA Button */}
              <a
                href="/contact"
                class={`inline-block rounded px-4 py-2 font-semibold text-center transition ${
                  plan.highlight
                    ? "bg-gray-50 text-primary hover:bg-primaryLight hover:text-white"
                    : "bg-primary text-white hover:bg-primaryLight"
                }`}
              >
                {plan.cta}
              </a>
            </div>
          );
        })
      }
    </div>
  </FlexContainer>

  <!-- Pricing Grid -->
</section>
